[Unit]
Description=Picom Xorg compositor
After=X11@%i.target
Requires=X11@%i.target
[Service]
Environment=DISPLAY=%I
ExecStart=picom --experimental-backends
[Install]
RequiredBy=X11@%i.target
