[Unit]
Description=Automatic cycle timer for controller
After=X11@%i.target controller@%i.service
Requisite=X11@%i.target controller@%i.service
[Service]
Environment=DISPLAY=%I
ExecStart=python3 -mfootron_timer
Restart=always
[Install]
WantedBy=X11@%i.target
