[Unit]
Description=Placard persistent info sidebar
After=X11@%i.target wallwm@%i.service
Requisite=X11@%i.target wallwm@%i.service
[Service]
Environment=DISPLAY=%I
ExecStart=%h/.local/bin/footron-placard
Restart=always
[Install]
WantedBy=X11@%i.target
