[Unit]
Description=X client enforcing layout
After=X11@%i.target picom@%i.service
Requires=X11@%i.target picom@%i.service
[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/env bash -c 'exec 8>${XDG_RUNTIME_DIR}/x11-wm@%I; exec python3 -mfoowm -v'
[Install]
RequiredBy=X11@%i.target
